
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Player registration</title>
</head>
<body>
    <div> 
        @ViewBag.Time
        <p>Welcome to player registration.</p>
        @Html.ActionLink("Register now!", "RegisterPlayer")
    </div>
</body>
</html>
